body{
	margin:0;
	height:100%;
	width:100%;
	font-family: myFirstFont;
    background-color: black;
}

h1{
	color: black;
}

#first{
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
	height:100%;
}

#content{
	text-align: center;
    color:#12C9FD;
}

.hidden {
  overflow: hidden;
  height:560px;
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 30px;
}

.scroll {
    background-color: black;
    height:560px;
    width:800px;
    overflow-x: hidden;
    padding-right:25px;
    color: #12C9FD;
    margin: 0 auto;
}

.container-outer { 
    overflow-x: hidden; 
    width: 1000px;  
    height: 800px;    
    margin-left: 10%;
    margin: 0 auto; 
}

.container-inner { 
    width: 10000px; 
}

.container a {
  float: left;
  margin: 20px;
}

.featured {
  top: 260px;
  left: 20px;
  z-index: -3;
}

#footer {
	text-align: center;
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:white;
}


@font-face {
    font-family: myFirstFont;
    src: url(./font/coolvetica.ttf);
    font-weight: bold;
}
